body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.overflow-hidden {
	overflow: hidden;
}

input, button {
	outline: none;
}

.row {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

.header {
	text-align: justify;
	padding: 25px 0;
	position:relative;
	z-index: 11;
}

.header:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}

.header__menu-btn {
	display: none;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: white;
	vertical-align: middle;
}

.menu-btn__line {
	background: #85d0cb;
	width: 38px;
	height: 3px;
	margin: 5px 0;
	transition: 0.5s;
}

.menu-btn-active .menu-btn__line:first-child {
	transform: translateY(8px) rotateZ(45deg);
}

.menu-btn-active .menu-btn__line:nth-child(2) {
	opacity: 0;
}

.menu-btn-active .menu-btn__line:last-child {
	transform: translateY(-8px) rotateZ(-45deg);
}

.dropdown-menu {
	position: fixed;
	display: block;
	top: -100vh;
	width: 100vw;
	height: 100vh;
	transition: 0.5s;
	padding: calc(100vh - 210px) 30px 30px 30px;
	z-index: -10;
	box-sizing: border-box;
	
}

.dropdown-menu-active {
	display: block;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	background: #85d0cb; 
}

.dropdown-menu a {
	display: block;
	margin: 0 auto;
	font-size: 20px;
}

.dropdown-menu-active a:nth-child(4) {
	margin-bottom: 30px;
}

.header__logo {
	display: inline-block;
	vertical-align: middle;
	width: 90px;
	height: auto;
	margin-right: 75px; 
}

.header__item {
	display: inline-block;
}

.header__link {
	text-decoration: none;
	margin-right: 50px;
	color: white;
	font-weight: bold;
}

.fa {
	margin-right: 3px;
}

.header__link:last-child {
	margin: 0;
}

.about-game {
	text-align: center;
	background: url('img/about-game-bg.jpg') 50% 100% / cover,
				#85d0cb;
	height: 100vh;
	min-height: 600px;
}

.about-game__heading {
	margin-top: 100px;
}

.section__heading {
	text-transform: uppercase;
	color: #406a7a;
	font-family: 'OpenSans', sans-serif;
	font-size: 30px;
}

.about-game__text {
	color: white;
	width: 50%;
	margin: 0 auto 40px auto;
	font-weight: 300;
	font-size: 20px;
}

.about-game__btn {
	margin-top: 40px;
}

.section__btn {
	background-color: #f59171;
	border-bottom: 2px solid #9e6341;
	border-radius: 5px;
	padding: 15px 35px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}

.about-game__description {
	background: url(img/cloud.png) 3% 8% / 170px 110px no-repeat,
				url(img/cloud.png) 6% 30% / 130px 90px no-repeat,
				url(img/cloud.png) 9% 93% / 110px 80px no-repeat,
				url(img/cloud.png) 85% 90% / 100px 70px no-repeat,
				url(img/cloud.png) 95% 75% / 180px 120px no-repeat,
				url(img/description-bg.jpg) left / cover no-repeat,
				#f1f3f5;
	padding: 100px 0;
}

.about-game__description .row {
	letter-spacing: -5px;
}

.description__text {
	width: 60%;
	font-size: 20px;
	color: #333333;
}

.description__text span {
	text-transform: uppercase;
	font-weight: bold;
}

.description__text span:first-child {
	color: #e7ca91;
}

.description__text span:last-child {
	color: #b2cbbb;
}

.description__heading {
	margin-bottom: 100px;
}

.description__map-wrapper,
.description__text-wrapper {
	letter-spacing: normal;
	width: 50%;
	display: inline-block;
}

.description__text-wrapper {
	vertical-align: top;
}

.description__map-wrapper {
	position: relative;
	padding: 25%;
	box-sizing: border-box;
	vertical-align: middle;
}

.description__map {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.how-to-play {
	background-color: #f1f1f1;
	background: url('img/how-to-play-bg.png') 0 / cover;
	padding: 100px 0;
}

.how-to-play__heading {
	display: inline-block;
	vertical-align: middle;
	color: #406a7a;
	margin-bottom: 100px;
}

.how-to-play__heading:before {
	content: url('img/how-to-play.png');
	display: inline-block;
	vertical-align: middle;
}

.how-to-play__wrapper {
	letter-spacing: -5px;
	margin-bottom: 45px;
}

 .how-to-play .wrapper__item {
	display: inline-block;
	width: calc(100%/3 - 120px);
	margin: 0 60px;
	letter-spacing: normal;
	box-shadow: 0 30px 100px 0px gray;
	border-radius: 10px;
	vertical-align: top;
	box-sizing: border-box;

}

.img__wrapper {
	padding: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.img__wrapper.first {
	background: linear-gradient(rgba(124, 208, 207, 0.5), rgba(103, 162, 183, 0.5)),
		        url(img/cloud.png) -45% 30% / 50% 45% no-repeat,
		        url(img/cloud.png) 95% 10% / 30% 25% no-repeat,
		        url(img/cloud.png) 130% 80% / 40% 35% no-repeat,
		        linear-gradient(#7cd0cf, #67a2b7);
}

.img__wrapper.second {
	background: linear-gradient(rgba(70, 163, 225, 0.5), rgba(62, 102, 172, 0.5)),
		        url(img/cloud.png) -45% 70% / 50% 45% no-repeat,
		        url(img/cloud.png) 10% 20% / 20% 15% no-repeat,
		        url(img/cloud.png) 160% 40% / 50% 45% no-repeat,
		        linear-gradient(#46a3e1, #3e66ac);
}

.img__wrapper.third {
	background: linear-gradient(rgba(238, 194, 113, 0.5), rgba(215, 128, 79, 0.5)),
		        url(img/cloud.png) -55% 40% / 50% 45% no-repeat,
		        url(img/cloud.png) 95% 70% / 20% 15% no-repeat,
		        url(img/cloud.png) 130% 20% / 40% 35% no-repeat, 
		        linear-gradient(#eec271, #d7804f);
}

.item__img {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	margin-bottom: 20px;
}

.item__text {
	text-align: center;
	color: white;
}

.how-to-play .item__description {
	padding: 30px;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 14px;
	box-sizing: border-box;
}

.btn__wrapper {
	width: 100%;
	text-align: center;
}

.advantages {
	background: url('img/our-advantages-bg.jpg') center / cover;
	text-align: center;
	padding: 115px 0 155px 0;
}

.advantages__heading {
	margin: 0 0 35px 0;
	
}

.advantages__text {
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 100px;
}

.advantages__wrapper {
	letter-spacing: -5px;
}

.advantages .wrapper__item {
	letter-spacing: normal;
	display: inline-block;
	width: calc(100%/4 - 8%);
	margin: 0 4%;
	vertical-align: top;
	box-sizing: border-box;
}

.advantages .item__heading {
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px 0;
	font-size: 18px;
}

.advantages .item__text {
	color: #a8a8a9;
	font-size: 14px;
}

.advantages .image__wrapper {
	position: relative;
	padding: 25%;
	
}

.advantages .item__image {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: contain;
}

.subscribe {
	text-align: center;
	background: url(img/subscribe-bg.jpg) center / cover no-repeat;
	padding: 75px 0 60px 0;
	color: white;
}

.subscribe__heading {
	color: white;
	margin: 0 0 30px 0;
}

.subscribe__text {
	font-size: 18px;
	margin-bottom: 40px;
}

.subscribe__form {
	letter-spacing: -5px;
}

.subscribe__input-wrapper {
	display: inline-block;
}

.subscribe__input {
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: normal;
	box-sizing: border-box;
}

.subscribe__e-mail {
	padding: 20px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #347fbf;
	width: 420px;
}

.subscribe__e-mail[placeholder] {
	font-style: italic;
}

.subscribe__submit {
	position: relative;
	border: none;
	width: 100%;
	background: transparent;
	z-index: 10;
}

.subscribe__input-wrapper {
	position: relative;
	background: #4269a7;
	width: 80px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.subscribe .fa-paper-plane {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.fa-paper-plane:before {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	width: 80px;
	height: 35px;
}







.competitions {
	padding: 90px 0;
	background: url(img/competitions-bg.jpg) center / cover;
}

.competition__date {
	font-size: 18px;
}

.prizes-wrapper {
	box-sizing: border-box;
	padding: 10% 10%;
	position: relative;
	background: url(img/competition-stand.png) center/ contain no-repeat;
	margin-top: 130px;
}

.prize-item {
	letter-spacing: -5px;
	position: absolute;
	width: calc(100%/3);
}

.prize-item:first-child {
	top: -30%;
	left: 45%;
}

.prize-item:nth-child(2) {
	text-align: right;
	top: 5%;
	left: -1%;
}

.prize-item:last-child {
	top: 45%;
	left: 67%;
}

.competitions .item__image,
.competitions .item__description {
	width: 30%;
	display: inline-block;
	letter-spacing: normal;
	vertical-align: middle;
}

.competitions .item__image {
	margin-right: 10px;	
}

.prize-item:nth-child(2) .item__image {
	margin: 0;
	margin-left: 10px;
}

/*
.competitions .item__description:first-child {
	text-align: end;
}
*/

.competitions .item__description {
	text-align: start;
	font-size: 18px;
	font-weight: bold;
	width: calc(70% - 10px);
	vertical-align: top;
/*	margin-right: 10px;*/
}

.item__name {
	font-weight: 16px;
	font-weight: lighter;
}

.competitions .section__btn {
	margin-top: 30px;
}





.feedback {
	background: url(img/feedback-bg.jpg) center / cover;
	padding: 75px 0;
	box-shadow: inset 0 5px 20px 5px rgba(0, 0, 0, 0.3);
	color: white;
}

.feedback__heading {
	color: white;
	margin-bottom: 50px;
}

.feedbacl__wrapper {
	letter-spacing: -5px;
}

.feedback__item {
	width: calc(50% - 10px);
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
	margin: 0 5px 40px 0;
}

.feedback .image__wrapper {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	vertical-align: middle;
	border: 3px solid #a3ced0;
	margin-right: 10px;
}

.item__picture {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.feedback .item__info {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.profile__name {
	font-size: 18px;
	font-weight: bold;
}

.profile__age {
	font-size: 14px;
}

.item__profile:after {
	content: url(img/feedback-icon.png);
	display: inline-block;
	vertical-align: middle;
}

.feedback .item__text {
	text-align: left;
	font-size: 16px;
	margin-top: 20px;
}

.feedback .item__text:before,
.feedback .item__text:after {
	color: #2f3c68;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
}

.feedback .item__text:before {
	content: '\00AB';
}

.feedback .item__text:after {
	content: '\00BB';
}

.statistics {
	padding: 100px 0 70px 0;
	background: url(img/statistics-bg.jpg) center / cover;
	letter-spacing: -5px;
}

.statistics__heading {
	margin: 0 0 50px 0;
	letter-spacing: normal;
}

.statistics__block {
	display: inline-block;
	width: calc(50% - 15px);
	letter-spacing: normal;
	vertical-align: top;
}

.statistics__block:first-child {
	margin-right: 30px;
}

.statistics__last-competition {
	border: 1px solid #dadada;
	padding: 30px 35px 50px 35px;
	border-radius: 3px;
	margin-bottom: 25px;
	background: white;;
}

.last-competition__heading {
	color: #9e9e9e;
	font-size: 20px;
	margin-bottom: 50px;
}

.last-competition__profile {
	margin-bottom: 30px;
}

.last-competition__profile:last-child {
	margin-bottom: 0;
}

.profile__image-wrapper {
	display: inline-block;
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin: 0 20px 0 10px;
	vertical-align: middle;
}

.profile__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover
}

.profile__place {
	position: absolute;
	z-index: 10;
	background-color: white;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 2px solid #cca352;
	color: #cca352;
	font-size: 25px;
	text-align: center;
	line-height: 35px;
	font-weight: 900;
	top: -15px;
	left: -15px;
}

.profile__info {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
}

.profile__prize {
	font-size: 16px;
	font-weight: lighter;
	margin-top: 10px;
}

.statistics__btn-wrapper {
	text-align: center;
}

.personal-cabinet {
	background-color: #56c8c6;
	border-bottom: 2px solid #3b8887;
	margin-left: 10px;
}

.statistics__detail {
	letter-spacing: -5px;
	background: white;
	border: 1px solid #dadada;
	border-radius: 3px;
	padding: 20px 30px;
	margin-bottom: 15px;
}

.details__item {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	letter-spacing: normal;
}

.details__heading {
	font-size: 20px;
	color: #9e9e9e;
	font-weight: 100;
}

.details__index {
	text-align: end;
	font-size: 30px;
}

.details__image-wrapper {
	padding: 5%;
}

.footer {
	background: url(img/footer-bg.jpg) 100% 100% / cover,
				#5c4157;
	padding: 60px 0 50px 0;
	color: #9b8b98;
}

.footer a {
	color: #9b8b98;
	text-decoration: none;
}

.footer__top {
	text-align: justify;
	border-bottom: 2px solid white;
	padding-bottom: 60px;
}

.footer__top:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}

.footer__item {
	text-align: start;
	display: inline-block;
	vertical-align: top;
}

.footer__logo {
	height: 60px;
	margin-bottom: 25px;
}

.footer__top .footer__item:first-child {
	width: 41%;
}

.footer__game-description {
	margin-bottom: 30px;
	font-size: 14px;
}

.footer .fa {
	display: inline-block;
	margin-right: 15px;
	text-decoration: none;
	font-size: 20px;
}

.footer .fa:last-child {
	margin: 0;
}

.footer .fa:hover {
	color: white;
}

.footer .item__header {
	color: white;
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: bold;
}

.nav__wrapper {
	padding: 0;
	list-style-type: none;
}

.footer .nav__link {
	margin-bottom: 15px;
	font-size: 14px;
}

.footer span {
	vertical-align: top;
	font-size: 10px;
}

.footer__bottom {
	text-align: justify;
	padding: 60px 0 130px 0;
}

.footer__bottom:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}

.item__image-wrapper,
.footer .item__info {
	display: inline-block;
	vertical-align: middle;
}

.footer .item__info,
.footer .item__info a {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.footer .item__info {
	margin-left: 10px;
}

.footer .item__description {
	color: #9b8b98;
	font-size: 14px;
	font-weight: 300;
	margin-top: 10px;
}

@media (max-width: 1200px) {
	.row {
		width: 100%;
	}
}

@media (max-width: 980px) {
	
	.header a:not(.header__logo-wrapper) {
		display: none;
	}
	
	.header__menu-btn {
		display: inline-block;
	}
	
	.header__nav {
		text-align: start;
	}
	
	.header__logo {
		margin: 0;
	}
	
	.header .row {
		margin: 0;
		width: 100%;
		padding: 0;
	}
	
	.row {
		margin: 0;
		width: 100%;
	}
	
	.description__text-wrapper,
	.description__map-wrapper {
		display: block;
		width: 100%;
	}
	
	.description__map-wrapper {
		padding: 20%;
	}
	
	.description__text {
		width: 100%;
	}
	
	
	.how-to-play .wrapper__item {
		width: calc(100%/3 - 3%);
		margin: 1.5%;
	}
	
	.advantages .wrapper__item {
		width: calc(100%/2 - 3%);
		margin: 1.5%;
	}
	
	.advantages .image__wrapper {
		padding: 10%;
	}
}

@media (max-width: 640px) {
	
	section, footer {
		padding: 10px 0 !important;
	}
	
	h2 {
		margin: 10px 0 !important;
	}
	
	.about-game__heading {
	}
	
	.about-game__text {
		width: 90%;
	}
	
	.description__map-wrapper {
		padding: 50%;
	}
	
	.how-to-play {
		background-position: -10px 0;
	}
	
	.how-to-play__heading {
		margin-bottom: 30px;
	}
	
	.subscribe__input {
		display: block;
		width: 90%;
		margin: 0 auto;
		border-radius: 0;
	}
	
	.subscribe__input-wrapper {
		width: 90%;
		border-radius: 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
	.subscribe__e-mail {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	
	.subscribe__submit {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		
	}
	
	.prizes-wrapper {
		background: none;
		margin: 10px 0;
		padding: 0;
	}
	
	.prize-item {
		position: static;
		width: 100%;
		background: white;
		margin-bottom: 10px;
		border-radius: 5px;
		border: 1px solid lightgray;
		padding: 20px;
		box-sizing: border-box;
	}
	
	.competitions .item__image {
/*		margin: 0;*/
		width: 40%;
	}
	
	.competitions .item__description {
		vertical-align: middle;
		width: calc(60% - 20px);
	}
	
	.feedback__item,
	.how-to-play .wrapper__item {
		display: block;
		width: 100%;
		margin: 30px 0;
	}
		
	.advantages .wrapper__item {
		display: block;
		width: 80%;
		margin: 20px auto;
		padding: 0;
	}
	
	.advantages__text {
		margin-bottom: 30px;
	}
	
	.advantages .image__wrapper {
		padding: 15%;
	}
	
	.last-competition__profile {
		text-align: center;
		display: block;
	}
	
	.profile__image-wrapper {
		display: block;
		margin: 0 auto;
	}
	
	.statistics__block {
		width: 100%;
	}
	
	.statistics__block:first-child {
		margin: 0;
	}
	
	.section__btn {
		display: block;
		margin: 25px auto;
	}
	
	.footer__top .footer__item:first-child {
		width: 100% !important;
	}
	
	.footer__top,
	.footer__bottom {
		padding: 0;
	}
	
	.footer__item {
		display: block;
		text-align: center;
		text-align-last: center;
		margin: 0 auto;
	}
	
	.footer__game-description {
		width: 100%;
	}
	
	.footer__bottom .item__image-wrapper {
		display: block;
	}
	
	.footer__item {
		margin: 30px 0;
	}
}

